*,
html {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;

}

html {
    scroll-behavior: smooth;
}


body {
    background-color: #F0F4F4;


}

.button {
    transition: scale ease-in-out;
}

.button:active {
    scale: .95;

}

a.button {
    color: white;
    text-decoration: none;
}

main#first {
    display: flex;
    height: 100vh;

    background-color: #0E0D30;
    color: white;

    #hero-image,
    #hero-content {
        flex: 1;
    }


    #hero-image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-right: 40px solid #23A5D9;
        }

        border-right: 20px solid #ffffff;

    }


    #hero-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 40px;

        font-size: 1.5em;

        h1#hero-heading {
            text-transform: uppercase;

            .outline-text {
                color: rgba(0, 0, 0, 0);
                -webkit-text-stroke: 3px white;
                letter-spacing: 4px;
            }
        }

        #hero-text {
            line-height: 150%;
        }

        .button#cta {
            padding: 16px 46px;
            width: max-content;
            font-size: 0.8em;
            margin-top: 16px;

            border-radius: 4px;

            cursor: pointer;

            background-color: #004588;
            color: white;
            border: none;

            .icon {
                margin-left: 12px;
            }

            &:hover {
                background-color: #023d78;

            }
        }
    }
}


#second {
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #logo {
        img {
            width: 200px;
        }

        border-bottom: 3px solid #23A5D9;

        margin-bottom: 16px;
    }

    p.description {
        width: 60%;
        text-align: center;

        font-size: 1.15em;
    }

    .bold {
        font-weight: bold;
    }

    #info-box {
        display: flex;
        justify-content: center;
        gap: 0px;
        border-radius: 8px;
        border: 1px solid #B7B7B7;
        background-color: #FFFFFF;
        margin: 46px;

        .cards {
            padding: 16px 40px;
            text-align: center;
            flex: 1;

            &:nth-child(2) {
                border: 1px solid #B7B7B7;
                border-top: none;
                border-bottom: none;
            }

            .info-icon-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 36px;

                margin-bottom: 40px;
                margin-top: 40px;



                .info-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #F3F9F4;
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;

                    border: 1px solid #1b557a27;
                }

            }

            max-width: 320px;


            h3 {
                font-weight: 500;
                margin-bottom: 8px;
            }

            p {
                font-weight: 300;
                font-size: .9em;
            }

        }
    }

}

.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row {
    display: flex;
    gap: 36px;
}

#third {
    display: flex;
    justify-content: space-between;
    padding: 40px 18vw;
    gap: 46px;

    background-color: #212E39;


    #beds-image {
        flex: 1;
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 12px;
    }

    .list {
        flex: 2;
    }

    .cards {
        background-color: #213A53;
        color: white;

        padding: 35px 30px;
        border-radius: 4px;

        h3 {
            color: #1897CE;
            margin-bottom: 8px;

            font-weight: 500;
            font-size: 1.4em;
        }

        p {
            font-weight: 300;
        }
    }
}

#fourth {
    margin-top: 24px;
    padding: 40px 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;



    .row {
        aspect-ratio: 100/39;
    }

    .banner {
        flex: 1;
        background-color: #CF2138;
        color: white;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        padding: 32px;
        padding-bottom: 60px;
        height: 100%;

        border-bottom-left-radius: 500px;
        border-bottom-right-radius: 500px;


        img {
            margin-bottom: 24px;
        }

        h3 {
            font-weight: 500;
            margin-bottom: 8px;

            font-size: 1.2em;
        }

        p {
            font-weight: 300;
            font-size: .9em;
        }

        &#growth-banner {
            background-color: #E6EFF6;
            border: 1px solid #CF2138;

            color: black;
        }

        &#finance-banner {
            background-color: #004588;
        }
    }
}

#fifth {
    padding: 30px 18vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        text-align: center;
    }

    ul {

        width: 75%;

        li {
            background: url("images/bullet-icon.svg") no-repeat left center;
            list-style-type: none;



            padding: 0px 0px 1px 36px;
            vertical-align: middle;

            margin-bottom: 8px;
            font-weight: 300;
        }
    }
}

#sixth {
    padding: 40px 14vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }

    .card {
        flex: 1;
        background-color: #EBEEF0;
        border: 1px solid #DBDBDB;
        padding: 30px;

        .top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            img {
                width: 60%;
                margin-bottom: 24px;
            }

            h4 {
                font-weight: 500;
                font-size: 1.1em;
            }

            p {
                opacity: 0.8;
                font-size: .85em;
                line-height: 1.2em;
                text-align: center;
            }

            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.10);
        }

        .bottom {
            font-weight: 300;
            font-size: .9em;

        }
    }
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    background-color: #004588;
    padding: 80px;

    color: white;

    font-size: 1.2em;

    h3,
    h4 {
        font-weight: 500;
    }

    h3 {
        margin-bottom: 12px;
        font-size: 1.3em;
    }

    a,
    p {
        color: white;
        font-weight: 300;
        font-size: 0.8em;
        margin-bottom: 12px;
    }
}


h2 {
    font-weight: 500;
    margin-bottom: 22px;
}

@media only screen and (max-width: 1100px) {

    #third,
    #fourth,
    #fifth {
        padding-right: 5vw;
        padding-left: 5vw;
    }
}

@media only screen and (max-width: 720px) {



    main#first {
        flex-direction: column;
        font-size: 0.8em;

        #hero-image {
            height: 30%;

            img {

                border-right: none;
                border-bottom: 20px solid #23A5D9;
            }

            border-right: none;

            border-bottom: 10px solid #ffffff;

        }

        #hero-content {
            height: 100%;
            flex: 2;
            justify-content: flex-start;
        }

    }

    #second {
        p.description {
            width: 90%;
        }

        #info-box {
            margin-right: 0px;
            margin-left: 0px;
            width: 90%;
            max-width: 300px;

            flex-direction: column;

            .cards {
                max-width: unset;

                &:nth-child(2) {
                    border: none;
                }
            }
        }
    }

    #third {
        flex-direction: column;

        #beds-image {
            flex: none;
            height: 200px;
        }
    }

    #fourth {
        .row {
            flex-direction: column;

            .banner {
                aspect-ratio: 245/326;
                min-width: 320px;
                width: 40%;
                margin: auto;
            }
        }
    }

    #footer {
        flex-direction: column;
    }


}